<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>289938912477-9l6i2jg3t06d9tn1gc73q1g9fbo6trrd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.289938912477-9l6i2jg3t06d9tn1gc73q1g9fbo6trrd</string>
	<key>API_KEY</key>
	<string>AIzaSyCuzJ7VNdDUnhhaSdNOnBInIogsXEb_Qhc</string>
	<key>GCM_SENDER_ID</key>
	<string>289938912477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cxw.Makestagram</string>
	<key>PROJECT_ID</key>
	<string>makestagram-f1353</string>
	<key>STORAGE_BUCKET</key>
	<string>makestagram-f1353.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:289938912477:ios:3808a58a30bc9628</string>
	<key>DATABASE_URL</key>
	<string>https://makestagram-f1353.firebaseio.com</string>
</dict>
</plist>